<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-ServicioTesoreria-20160927102646.mdf;Initial Catalog=aspnet-ServicioTesoreria-20160927102646;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Tesoreria" providerName="System.Data.SqlClient" connectionString="data source=10.10.200.222;initial catalog=Tesoreria;persist security info=True;user id=tesoreria;password=tesoreria;MultipleActiveResultSets=True;App=EntityFramework" />
    <!--<add name="Tesoreria" providerName="System.Data.SqlClient" connectionString="data source=10.10.200.23\sql2012;initial catalog=Tesoreria;persist security info=True;user id=sa;password=desarrollo123;MultipleActiveResultSets=True;App=EntityFramework" />-->
    <!--<add name="Tesoreria1" providerName="System.Data.SqlClient" connectionString="data source=10.10.200.23\SQL2012;initial catalog=Tesoreria;persist security info=True;user id=sa;password=desarrollo123;MultipleActiveResultSets=True;App=EntityFramework" />-->

  </connectionStrings>
  <appSettings>
    <!-- Required by Microsoft ReportViewer control --><add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ServicioPayPerTic" value="https://api.paypertic.com/" />
    <add key="ServicioTesoUsuario" value="servicio_tesoreria:teso_1234" />
    <add key="NotificacionPayPerTic" value="https://notificacionespaypertic.unlam.edu.ar/api/Cuotas/Receive" />
    
  <add key="MvcReportViewer.AspxViewer" value="~/MvcReportViewer.aspx" /><add key="MvcReportViewer.AspxViewerJavaScript" value="~/Scripts/MvcReportViewer.js" /><add key="MvcReportViewer.ErrorPage" value="~/MvcReportViewerErrorPage.html" /><add key="MvcReportViewer.ShowErrorPage" value="True" /><add key="MvcReportViewer.ReportServerUrl" value="http://localhost/ReportServer_SQLEXPRESS" /><add key="MvcReportViewer.Username" value="" /><add key="MvcReportViewer.Password" value="" /><add key="MvcReportViewer.EncryptParameters" value="False" /><add key="MvcReportViewer.LocalDataSourceProvider" value="MvcReportViewer.SessionLocalDataSourceProvider, MvcReportViewer" /></appSettings>
  <system.web>
    <globalization culture="es-AR" uiCulture="es-AR"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <!-- Required by Microsoft ReportViewer control 
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
  -->  
  </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <!-- Required by Microsoft ReportViewer control --><remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    <remove name="ReportViewerWebControlHandler" /><add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" /></handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>